@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;


}
.attribution a { 
    color: hsl(228, 45%, 44%); }

.tag{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: .4rem;
    
    border-radius: .3rem;
    font-weight: bold;
}

.footer{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer p {
    display: inline;
    font-weight: bold;
}

body{
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: 'Figtree';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

section{
    margin-top: 1rem;
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 1rem;
    text-align: left;
    box-shadow: 5px 5px 1px rgb(0, 0, 0);
    gap: 0.75rem;
    padding: 1rem;
}

img{
    max-width: 100%;
   
    border-radius: 1rem;
    align-self: center;
}

h2{
    
}

section > p{
   
}

section > a {
    text-decoration: none;
    color: black;
}

section > a:hover {
    color: hsl(47, 88%, 63%);
}